<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/mvc
            http://www.springframework.org/schema/mvc/spring-mvc.xsd
            http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd
       ">

    <!-- 自动扫描注解组件 -->
    <context:component-scan base-package="com.cnsdhh.controller"/>
    <context:component-scan base-package="com.cnsdhh.aop"/>

    <!-- 相当于设置 处理器映射器 和 处理器适配器 -->
    <mvc:annotation-driven/>

    <!-- 视图解析器 -->
    <mvc:view-resolvers>
        <!-- 设置内部资源视图解析器 -->
        <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" id="viewResolver">
            <property name="prefix" value="/"/>
            <property name="suffix" value=".jsp"/>
        </bean>
    </mvc:view-resolvers>

    <!-- 拦截器链 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <!--对哪些资源进行拦截：拦截所有-->
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/user/login.do"/>
            <bean class="com.cnsdhh.interceptor.MyInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <!-- aop自动代理 -->
    <aop:aspectj-autoproxy/>

</beans>